In [1]:
# Question 1: 
import pandas as pd
import numpy as np

In [4]:
data={'Customer_id':[1,2,3,4,5,6,7,8,9],'Satisfaction':[8,7,'np','nan',9,6,6,10,4]}
df=pd.DataFrame(data)
print(df)

   Customer_id Satisfaction
0            1            8
1            2            7
2            3           np
3            4          nan
4            5            9
5            6            6
6            7            6
7            8           10
8            9            4

In [5]:
df['Satisfaction']=pd.to_numeric(df['Satisfaction'],errors='coerce')

In [6]:
df_clean=df.dropna()
print(df_clean)

   Customer_id  Satisfaction
0            1           8.0
1            2           7.0
4            5           9.0
5            6           6.0
6            7           6.0
7            8          10.0
8            9           4.0

In [10]:
#Question 2
import pandas as pd

In [11]:
data={'Month':['Jan','Feb','Mar','Apr','May','June'],'Sales':[1500,1700,1600,1800,2200,2100]}
df=pd.DataFrame(data)

In [12]:
print(f"Average monthly sales:${df['Sales'].mean():.2f}")
#we can also project best month,low sales month for better understanding

Average monthly sales:$1816.67

In [13]:
#question 3
from scipy import stats
group_a=[110,115,108,102,107]
group_b=[120,125,130,122,128]

In [14]:
t_stat,p_value=stats.ttest_ind(group_a,group_b)

In [17]:
print(group_a)
print(group_b)
print(f"\nT-statistic:{t_stat:.2f}")
print(f"P-value:{p_value:.4f}")

[110, 115, 108, 102, 107]
[120, 125, 130, 122, 128]

T-statistic:-5.92
P-value:0.0004

In [18]:
#Question 4
import pandas as pd
import seaborn as sns
import numpy as np

In [19]:
data={'Department':['HR','IT','Sales','HR','IT',np.nan,'Sales','HR','IT','Sales'],'Experience_Years':[1,0,3,2,np.nan,4,5,3,2,1],'Projects_completed':[2,0,5,3,4,np.nan,6,2,3,4],'Performance_Rating':[3,0,2,4,3,5,np.nan,3,4,2]}
df=pd.DataFrame(data)
print(df)

  Department  Experience_Years  Projects_completed  Performance_Rating
0         HR               1.0                 2.0                 3.0
1         IT               0.0                 0.0                 0.0
2      Sales               3.0                 5.0                 2.0
3         HR               2.0                 3.0                 4.0
4         IT               NaN                 4.0                 3.0
5        NaN               4.0                 NaN                 5.0
6      Sales               5.0                 6.0                 NaN
7         HR               3.0                 2.0                 3.0
8         IT               2.0                 3.0                 4.0
9      Sales               1.0                 4.0                 2.0

In [20]:
df_clean=df.copy()
df_clean['Department'].fillna('Unknown',inplace=True)
df_clean['Experience_Years'].fillna(df_clean['Experience_Years'].median(),inplace=True)
df_clean['Projects_completed'].fillna(df_clean['Projects_completed'].median(),inplace=True)
df_clean['Performance_Rating'].fillna(df_clean['Performance_Rating'].mean(),inplace=True)
print(df_clean)

  Department  Experience_Years  Projects_completed  Performance_Rating
0         HR               1.0                 2.0            3.000000
1         IT               0.0                 0.0            0.000000
2      Sales               3.0                 5.0            2.000000
3         HR               2.0                 3.0            4.000000
4         IT               2.0                 4.0            3.000000
5    Unknown               4.0                 3.0            5.000000
6      Sales               5.0                 6.0            2.888889
7         HR               3.0                 2.0            3.000000
8         IT               2.0                 3.0            4.000000
9      Sales               1.0                 4.0            2.000000

/var/folders/0b/pn0xqpcd7hb0qvhjxrpdhclm0000gn/T/ipykernel_26638/1482699073.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_clean['Department'].fillna('Unknown',inplace=True)
/var/folders/0b/pn0xqpcd7hb0qvhjxrpdhclm0000gn/T/ipykernel_26638/1482699073.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_clean['Experience_Years'].fillna(df_clean['Experience_Years'].median(),inplace=True)
/var/folders/0b/pn0xqpcd7hb0qvhjxrpdhclm0000gn/T/ipykernel_26638/1482699073.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_clean['Projects_completed'].fillna(df_clean['Projects_completed'].median(),inplace=True)
/var/folders/0b/pn0xqpcd7hb0qvhjxrpdhclm0000gn/T/ipykernel_26638/1482699073.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_clean['Performance_Rating'].fillna(df_clean['Performance_Rating'].mean(),inplace=True)

In [21]:
print(df_clean.describe())

       Experience_Years  Projects_completed  Performance_Rating
count         10.000000           10.000000           10.000000
mean           2.300000            3.200000            2.888889
std            1.494434            1.686548            1.369870
min            0.000000            0.000000            0.000000
25%            1.250000            2.250000            2.222222
50%            2.000000            3.000000            3.000000
75%            3.000000            4.000000            3.750000
max            5.000000            6.000000            5.000000

In [22]:
corr=df_clean[['Experience_Years','Projects_completed,'Performance_Rating']].corr()
print(corr)
sns.heatmap(corr,annot=True)

SyntaxError: unterminated string literal (detected at line 1) (4292294695.py, line 1)

In [23]:
sns.hisplot(df_clean)
sns.boxplot(data=df_clean)
sns.scatterplot(data=df_clean)

AttributeError: module 'seaborn' has no attribute 'hisplot'